*{
    box-sizing: border-box;
    font-size: 25px;
    color: oldlace;
    font-style: italic;
    font-family: 'Georgia';
}



body{
    text-align: center;
    color: oldlace;
    vertical-align: middle;
    padding-top: 5%;
    background-image: url("https://i.gifer.com/1jzm.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2{
    font-size: 45;
}


h3{
    font-size: 40px;
    font-family: 'Georgia';
    font-weight: 600;
    font-style: italic;
    color: oldlace;
}

.col{
    flex-grow: 1;
    max-width: 100%; 
    font-size: 40px;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 600;
    color: oldlace;
}


p{
  font-style: 'Times New Roman'
  font-size: 12px;
}

h1{
    font-style:italic;
}
    
    
    
