html{
    background-image: src="https://wallpaperaccess.com/full/487687.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


body{
    text-align: center;
    color: oldlace;
    vertical-align: middle;
    padding-top: 5%;
}

p{
  font-style: 'Times New Roman'
  font-size: 12px;
}

h1{
    font-style:italic;
    
    
    
